@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');


$Purple-50: hsl(260, 100%, 95%);
$Purple-300: hsl(264, 82%, 80%);
$Purple-500: hsl(263, 55%, 52%);
$White:hsl(0, 0%, 100%);
$Grey-100: hsl(214, 17%, 92%);
$Grey-200: hsl(0, 0%, 81%);
$Grey-400: hsl(224, 10%, 45%);
$Grey-500: hsl(217, 19%, 35%);
$Dark-blue: hsl(219, 29%, 14%);
$Black: hsl(0, 0%, 7%);

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: $Grey-100;


    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block-start: 3rem;
        gap: 2rem;
        font-size: 0.8125rem;
        section{
            box-sizing: border-box;
            width: 85vw;
            max-width: 30rem;
            padding: 1.5rem;
            background-color: gray;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            line-height: 1.4;

            header{
                display: grid;
                grid-template-columns: 1fr 8fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                align-items: center;
                
                img{
                    box-sizing: border-box;
                    grid-row: 1/3;
                    width: 2.5rem;
                    border-radius: 50%;
                }
                h1{
                    
                    font-size: 1rem;
                    font-weight: 500;
                }
                p{
                    
                    font-size: 0.8125rem;
                }
            }
            .panelopinion1{
                font-size: 1.2rem;
                font-weight: 600;
            }

            //COLORS
            &:nth-of-type(1){
                background-color: $Purple-500;
                color: $White;

                img{
                    border: 0.125rem solid $Purple-300;
                }
            }
            &:nth-of-type(2){
                background-color: $Grey-500;
                color: $White;
                img{
                    border: 0.125rem solid $White;
                }
            }
            &:nth-of-type(3){
                background-color: $White;
                color: $Grey-500;
                img{
                    border: 0.125rem solid $Grey-100;
                }
            
            }
            &:nth-of-type(4){
                background-color: $Dark-blue;
                color: $White;
                img{
                    border: 0.125rem solid $Purple-500;
                }
            }
            &:nth-of-type(5){
                background-color: $White;
                color: $Grey-500;
                img{
                    border: 0.125rem solid $Grey-100;
                }
            }
        }
    }

    footer{
        text-align: center;
        font-size: 0.8125rem;
        margin-block-start: 4rem;
        color:$Grey-500;

        a{
            color: $Purple-300;
        }
    }
    
}

@media (min-width: 60rem){
    
    body>main{
        
        display: grid;
        grid-template-columns: 25rem 25rem;
        justify-content: center;
        align-items: center;
        
        
        section{
            width: auto;
            max-width: none;
            height: 100%;
            box-shadow: 1rem 1rem 0.8rem $Grey-200;
            &:nth-of-type(1){
                grid-column: 1/3;
            }
           


        }
    }
}


@media (min-width: 80rem){
    html,body{
        height: 100%;
    }
    html>body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body>main{
        
        display: grid;
        grid-template-columns: repeat(4,18rem);
        justify-content: center;
        align-items: center;
        
        
        section{
            width: auto;
            max-width: none;
            height: 100%;
            &:nth-of-type(1){
                grid-column: 1/3;
            }
            
            &:nth-of-type(3){
                
                grid-row: 2/3;
            }
            &:nth-of-type(4){
                grid-row: 2/3;
                grid-column: 2/4;
                
            }
            &:nth-of-type(5){
                grid-row: 1/3;
            }
           


        }
    }

    
    
}